@font-face {
  font-family: '"Futura Lt BT"';
  src: url("/assets/fonts/futult-webfont.woff2") format("woff2"), url("/assets/fonts/futult-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura Lt BT";
  src: url("/assets/fonts/futural-webfont.woff2") format("woff2"), url("/assets/fonts/futural-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Palatino Linotype";
  src: url("/assets/fonts/palab-webfont.woff2") format("woff2"), url("/assets/fonts/palab-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*******************************************************************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: #000;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
  height: 100%;
  font-family: "Futura Lt BT", sans-serif;
  background-color: #ffffff;
}

main {
  width: 100vw;
  height: auto;
}

section {
  width: 100vw;
}

ul {
  list-style-type: none;
}

button,
button:focus {
  background-color: transparent;
  border: 0;
  outline: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* TEXT STYLES */
h1 {
  font-family: "Palatino Linotype", serif;
  font-weight: 700;
  font-size: 42px;
  color: #1c2b45;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 390px) {
  h1 {
    font-size: 26px;
    line-height: 30px;
  }
}

h2 {
  font-family: "Palatino Linotype", serif;
  font-weight: 700;
  font-size: 52px;
  color: #1c2b45;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media screen and (max-width: 900px) {
  h2 {
    font-size: 42px;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 500px) {
  h2 {
    font-size: 34px;
  }
}

h3 {
  font-family: "Futura Lt BT", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: #181818;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media screen and (max-width: 900px) {
  h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 500px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  font-family: "Palatino Linotype", serif;
  font-weight: 400;
  font-size: 29px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}
@media screen and (max-width: 900px) {
  h4 {
    font-size: 26px;
  }
}
@media screen and (max-width: 500px) {
  h4 {
    font-size: 22px;
    letter-spacing: 1px;
  }
}

h5 {
  font-family: "Futura Lt BT", sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #fff;
  background-color: #1c2b45;
  width: 350px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media screen and (max-width: 900px) {
  h5 {
    font-size: 18px;
    height: 36px;
    width: 300px;
  }
}
@media screen and (max-width: 500px) {
  h5 {
    font-size: 16px;
    height: 34px;
    width: 260px;
  }
}

h5.ementa {
  font-size: 26px;
  width: 100%;
}

h6 {
  font-family: "Palatino Linotype", serif;
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 32px;
}
@media screen and (max-width: 1020px) {
  h6 {
    font-size: 28px;
  }
}
@media screen and (max-width: 500px) {
  h6 {
    font-size: 22px;
  }
}

/* SECTIONS */
section#banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 60px;
  gap: 40px;
}
@media screen and (max-width: 900px) {
  section#banner {
    padding: 40px 0;
  }
}
section#banner #logo-banner {
  width: auto;
  height: 100%;
  max-height: 100px;
}
@media screen and (max-width: 900px) {
  section#banner #logo-banner {
    max-height: 80px;
  }
}
@media screen and (max-width: 500px) {
  section#banner #logo-banner {
    max-height: 60px;
  }
}
section#banner .flex-imgs {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  gap: 16px;
  max-width: 900px;
  max-height: 500px;
}
@media screen and (max-width: 900px) {
  section#banner .flex-imgs {
    width: 100%;
    gap: 8px;
  }
}
@media screen and (max-width: 600px) {
  section#banner .flex-imgs {
    gap: 6px;
  }
}
section#banner .flex-imgs .each-img {
  height: auto;
  width: 32%;
  overflow: hidden;
}
section#banner .flex-imgs .each-img img {
  height: 100%;
  width: auto;
}
@media screen and (max-width: 900px) {
  section#banner .flex-imgs .each-img img {
    width: 100%;
    height: auto;
  }
}
section#banner .flex-booked {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}
section#banner .info-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 60px;
  margin-top: 20px;
}
@media screen and (max-width: 900px) {
  section#banner .info-wrapper {
    gap: 40px;
  }
}
@media screen and (max-width: 500px) {
  section#banner .info-wrapper {
    gap: 30px;
  }
}
section#banner .info-wrapper .each-info {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  gap: 12px;
}
section#banner .info-wrapper .each-info p {
  font-family: "Palatino Linotype", serif;
  font-weight: 400;
  font-size: 25px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 900px) {
  section#banner .info-wrapper .each-info p {
    font-size: 22px;
  }
}
@media screen and (max-width: 500px) {
  section#banner .info-wrapper .each-info p {
    font-size: 18px;
  }
}

.ementa-wrapper {
  background-color: #f5f5f5;
  padding: 20px;
  gap: 26px;
  max-width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 16px;
  /*   @media screen and (max-width: 900px) {
      gap: 40px;
  }
  @media screen and (max-width: 500px) {
      gap: 30px;
  } */
}

.each-plate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.each-plate .plate-title {
  font-family: "Palatino Linotype", serif;
  font-weight: 700;
  font-size: 25px;
  color: #1c2b45;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .each-plate .plate-title {
    font-size: 22px;
  }
}
.each-plate .plate-description {
  font-family: "Futura Lt BT", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  line-height: 25px;
}

.small-info {
  font-family: "Futura Lt BT", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

#map {
  width: 100vw;
  height: auto;
  margin-bottom: -3px;
}
#map .map-frame {
  width: 100%;
  height: 200px;
}

section#presence {
  background-color: #1c2b45;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 76px;
  padding: 60px 0;
}
section#presence .pp {
  font-family: "Futura Lt BT", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #c6c6c6;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media screen and (max-width: 900px) {
  section#presence .pp {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  section#presence .pp {
    font-size: 16px;
    letter-spacing: 1px;
  }
}
section#presence .flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  gap: 40px;
}
@media screen and (max-width: 800px) {
  section#presence .flex-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 800px) {
  section#presence .flex-wrapper {
    width: 100%;
  }
}
section#presence .flex-wrapper .img-contacts {
  max-height: 370px;
  height: auto;
  width: auto;
}
@media screen and (max-width: 1000px) {
  section#presence .flex-wrapper .img-contacts {
    max-height: 310px;
  }
}
@media screen and (max-width: 500px) {
  section#presence .flex-wrapper .img-contacts {
    width: 100%;
    height: auto;
  }
}
section#presence .flex-wrapper .contact {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 6px;
}
@media screen and (max-width: 800px) {
  section#presence .flex-wrapper .contact {
    align-items: flex-start;
  }
}
section#presence .flex-wrapper .contact a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 6px;
  font-family: "Futura Lt BT", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 1px;
  white-space: nowrap;
}
@media screen and (max-width: 800px) {
  section#presence .flex-wrapper .contact a {
    justify-content: flex-start;
  }
}
@media (hover: hover) {
  section#presence .flex-wrapper .contact a:hover {
    color: #bafffd;
  }
  section#presence .flex-wrapper .contact a:hover .icon path {
    fill: #bafffd;
  }
}
section#presence .flex-wrapper .contact a .icon {
  height: 20px;
  width: auto;
}
section#presence .flex-wrapper .contact.right {
  align-items: flex-start;
}
@media screen and (max-width: 800px) {
  section#presence .flex-wrapper .contact.desktop {
    display: none;
  }
}
section#presence .flex-wrapper .contact.mobile {
  display: none;
}
@media screen and (max-width: 800px) {
  section#presence .flex-wrapper .contact.mobile {
    display: flex;
  }
}
section#presence #logo-footer {
  height: 63px;
  width: auto;
}/*# sourceMappingURL=style.css.map */